<div class="container">
  <div class="row">
    <div class="col">
      <h1>All Notes</h1>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Create New Note</h2>

      <form action="/insert_note" method="post">
        <div class="mb-3">
          <label for="child_id_box" class="form-label">Child</label>
          <input type="text" class="form-control" id="child_id_box" name="query_child_id">
        </div>

        <div class="mb-3">
          <label for="admin_id_box" class="form-label">Admin</label>
          <input type="text" class="form-control" id="admin_id_box" name="query_admin_id">
        </div>

        <div class="mb-3">
          <label for="context_box" class="form-label">Context</label>
          <textarea class="form-control" id="context_box" name="query_context" rows="3"></textarea>
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="submitted_box" name="query_submitted" value="1">
          <label class="form-check-label" for="submitted_box">Submitted</label>
        </div>

        <button type="submit" class="btn btn-primary">Create Note</button>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="display: none;">ID</th>
            <th>Child</th>
            <th style="display: none;">Admin</th>
            <th>Context</th>
            <th style="display: none;">Submitted</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @list_of_notes.each do |a_note| %>
          <tr>
            <td style="display: none;"><%= a_note.id %></td>
            <td style="display: none;"><%= a_note.child_id %></td>
            <td style="display: none;"><%= a_note.admin_id %></td>
            <td><%= a_note.context %></td>
            <td style="display: none;"><%= a_note.submitted %></td>
            <td><%= time_ago_in_words(a_note.created_at) %> ago</td>
            <td><%= time_ago_in_words(a_note.updated_at) %> ago</td>
            <td>
              <a href="/notes/<%= a_note.id %>">Show Details</a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>
