<div class="container">
  <div>
    <h1>
      List of Children
    </h1>
  </div>
</div>

<hr>

<div class="container">
  <div>
    <h2>
      Add New Child
    </h2>

    <form action="/insert_child" method="post">
      <div class="mb-3">
        <label for="first_name_box" class="form-label">
          First name
        </label>
        <input type="text" id="first_name_box" name="query_first_name" class="form-control">
      </div>

      <div class="mb-3">
        <label for="last_name_box" class="form-label">
          Last name
        </label>
        <input type="text" id="last_name_box" name="query_last_name" class="form-control">
      </div>

      <div class="mb-3">
        <label for="date_of_birth_box" class="form-label">
          Date of birth
        </label>
        <input type="text" id="date_of_birth_box" name="query_date_of_birth" class="form-control">
      </div>

      <div class="mb-3">
        <label for="parent_id_box" class="form-label">
          Parent
        </label>
        <input type="text" id="parent_id_box" name="query_parent_id" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">
        Create child
      </button>
    </form>
  </div>
</div>

<hr>

<div class="container">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th style="display: none;">ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Date of birth</th>
          <th style="display: none;">Parent</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_children.each do |a_child| %>
        <tr>
          <td style="display: none;"><%= a_child.id %></td>
          <td><%= a_child.first_name %></td>
          <td><%= a_child.last_name %></td>
          <td><%= a_child.date_of_birth %></td>
          <td style="display: none;"><%= a_child.parent_id %></td>
          <td><%= time_ago_in_words(a_child.created_at) %> ago</td>
          <td><%= time_ago_in_words(a_child.updated_at) %> ago</td>
          <td> 
         <a href="/children/<%= a_child.id %>" class="btn btn-primary">
              Show details
            </a> 
                    
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
