<div>
  <div>
    <h1>
      List of all children
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new child
    </h2>

    <form action="/insert_child" method="post">
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name">
      </div>

      <div>
        <label for="date_of_birth_box">
          Date of birth
        </label>

        <input type="text" id="date_of_birth_box" name="query_date_of_birth">
      </div>

      <div>
        <label for="parent_id_box">
          Parent
        </label>

        <input type="text" id="parent_id_box" name="query_parent_id">
      </div>

      <button>
        Create child
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Date of birth
        </th>

        <th>
          Parent
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_children.each do |a_child| %>
      <tr>
        <td>
          <%= a_child.id %>
        </td>

        <td>
          <%= a_child.first_name %>
        </td>

        <td>
          <%= a_child.last_name %>
        </td>

        <td>
          <%= a_child.date_of_birth %>
        </td>

        <td>
          <%= a_child.parent_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_child.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_child.updated_at) %> ago
        </td>

        <td>
          <a href="/children/<%= a_child.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
