<div class="container">
  <div class="row">
    <div class="col">
      <h1>List of all users</h1>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Add a new user</h2>

      <form action="/insert_user" method="post">
        <div class="mb-3">
          <label for="email_box" class="form-label">Email</label>
          <input type="text" class="form-control" id="email_box" name="query_email">
        </div>

        <div class="mb-3">
          <label for="password_box" class="form-label">Password</label>
          <input type="text" class="form-control" id="password_box" name="query_password">
        </div>

        <div class="mb-3">
          <label for="first_name_box" class="form-label">First name</label>
          <input type="text" class="form-control" id="first_name_box" name="query_first_name">
        </div>

        <div class="mb-3">
          <label for="last_name_box" class="form-label">Last name</label>
          <input type="text" class="form-control" id="last_name_box" name="query_last_name">
        </div>

        <div class="mb-3">
          <label for="role_box" class="form-label">Role</label>
          <input type="text" class="form-control" id="role_box" name="query_role">
        </div>

        <button type="submit" class="btn btn-primary">Create user</button>
      </form>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @list_of_users.each do |a_user| %>
          <tr>
            <td><%= a_user.id %></td>
            <td><%= a_user.email %></td>
            <td><%= a_user.password %></td>
            <td><%= a_user.first_name %></td>
            <td><%= a_user.last_name %></td>
            <td><%= a_user.role %></td>
            <td><%= time_ago_in_words(a_user.created_at) %> ago</td>
            <td><%= time_ago_in_words(a_user.updated_at) %> ago</td>
            <td>
              <a href="/users/<%= a_user.id %>">Show details</a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>
