<!DOCTYPE html>
<html>
<head>
  <title>Home Daycare Pro</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <style>
    /* Color palette */
    :root {
      --primary-color: #d1d1e9;
      --secondary-color: #994ff3;
      --tertiary-color: #2cb67d;
      --quaternary-color: #181818;
    }

    body {
      background-color: var(--primary-color);
      color: var(--quaternary-color);
    }

    .navbar {
      background-color: var(--secondary-color);
    }

    .navbar-brand img {
      height: 70px; /* Adjust this value to your preference */
    }

    .navbar-brand,
    .nav-link {
      color: white;
    }

    .navbar-brand:hover,
    .nav-link:hover {
      color: var(--tertiary-color);
    }

    .navbar-collapse {
      justify-content: flex-end;
    }

    .nav-item {
      margin-right: 10px;
    }

    .nav-link {
      padding: 5px 12px;
      font-size: 18px;
    }

    .btn-primary {
      background-color: var(--tertiary-color);
      color: var(--quaternary-color);
      padding: 6px 12px;
      font-size: 18px;
      margin: 8px 0;
      border: none;
    }

    .btn-primary:hover {
      background-color: var(--secondary-color);
    }
  </style>
  
 <script>
      $(document).ready(function() {
        // Enable Bootstrap modal
        $('#addChildModal').modal({
          show: false
        });
      });
    </script>
</head>


<body>
<script src="path/to/your/javascript/file.js"></script>

<nav class="navbar navbar-expand-lg navbar-light ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.jpg', style: "height: 70px;" %>
  <% end %>
  <a class="navbar-brand btn btn-primary" href="/">
  <i class="fas fa-home"></i> Home
</a>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto justify-content-between">
      <li class="nav-item">
        <%= link_to mass_emails_path, class: "btn btn-primary" do %>
          <i class="fas fa-envelope"></i> Emails
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to attendance_records_path, class: "btn btn-primary" do %>
          <i class="fas fa-calendar-alt"></i> Attendance Records
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to notes_path, class: "btn btn-primary" do %>
          <i class="fas fa-sticky-note"></i> Notes
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: "btn btn-primary" do %>
            <i class="fas fa-user-edit"></i> Edit Profile
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-primary" do %>
            <i class="fas fa-sign-out-alt"></i> Logout
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "btn btn-primary" do %>
            <i class="fas fa-user-plus"></i> Sign Up
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "btn btn-primary" do %>
            <i class="fas fa-sign-in-alt"></i> Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
